body {
    margin: 0rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}

#navbar {
    float: center;
    padding-bottom: 8.2rem;
}

#navbar a:hover {
    color: #30e3cb;
    transform: scale(1.2)
}

h1 {
    color: #66BFBF;
    margin: 14.5rem auto 0rem auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-top: 0rem;
    padding-bottom: 1rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 70%;
    margin: auto;
}

p {
    color: #153131;
    line-height: 2;
}

.top-container {
    background-color: #e6f3f2;
    position: relative;
    padding-top: 2rem;
    height: 90rem;
    width: 100%;
}

.middle-container {
    margin: 10rem 0;
    line-height: 2;

}

.skill-row {
    width: 70%;
    margin: 10rem auto 10rem auto;
    text-align: left;

}

.skill-row1 {
    border-radius: 50%;
    width: 30%;
    float: left;
    margin-right: 3rem;
}

.skill-row2 {
    border-radius: 50%;
    width: 30%;
    float: right;
    margin-left: 3rem;
}

.self-image {
    width: 18%;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 5rem 0 2rem;
}

.top-cloud {
    position: absolute;
    width: 20rem;
    right: 10rem;
    top:10rem
}

.bottom-cloud {
    position: absolute;
    width: 20rem;
    left : 10rem;
    bottom: 45rem
}

.mountain {
    width: 100%;
    position:relative;
    margin-top:25rem;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    border-radius: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

hr {
    border: dotted #EAF6F6 0.6rem;
    border-bottom: none;
    width: 4%;
    margin: 10rem auto;
}

.contact-messsage {
    width: 60%;
    margin: 4rem auto 6rem;
}

a {
    display: inline-block;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0.6rem 1.6rem;
    text-decoration: none;
    transition: 0.4s;
}

.bottom-container a:hover {
    color: #EAF6F6;
    transform: scale(1.2)
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem 0;
}

@media (max-width:998px) {
    html {
        font-size: 62.5%;
    }
    .top-cloud {
        display: none;
    }
    
    .bottom-cloud {
        display: none;
    }
    
}

@media (max-width:450px) {
    html {
        font-size: 35%;
    }
    .top-cloud {
        display: none;
    }
    
    .bottom-cloud {
        display: none;
    }
    .mountain {
        width: 100%;
        position:relative;
        margin-top:29rem;
    }

}
